*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;

}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 400px;
    height: min-content;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 14px;
    padding: 28px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2);
}

.search-box input{
    width: 85%;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: white;
    font-weight: 800;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color:transparent ;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.search-box button:hover{
    color: white;
    background-color: rgb(51, 45, 45);
}

.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
    color: white;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: white;
}

.humidity, .wind-speed{
    display: flex;
    align-items: center;
    color: white;
}

.humidity{
    margin-left: 20px;
}

.wind-speed{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
    color: white;
}

.text span{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: whitesmoke;
    margin-block-end: 15px;
}

.location-not-found img{
    width: 80%;
}
